*.*
!.gitignore
!CodeTemplates
!FW8051Data
!Slides
!2026CodeTemplates
!2026CodeTemplates/*.*
!InClassSolutions
!InClassSolutions/*.*
#HandoutsofSlides/*.*
CodeTemplates/*.*
!FW8051Data/*.*
!Slides/*.*
.Rproj.user
!README
/.quarto/
